@import url('https://fonts.googleapis.com/css?family=Gaegu:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300');
.header{
    z-index: 999;
    position: relative;
}
.navStyle{
    float:right;
    margin-right: 10%;
    font-size:14px;
    padding-top:30px;
}
.navItems{
    color:white;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color:white;
    position: absolute;
    margin-left: 10%;
    padding-top: 30px;
    font-size: 3rem;
    font-family: 'Gaegu', cursive;
}
.coverText{
    color:white;
    position: absolute;
    margin-left: 10%;
    margin-top:15%;
    padding-top: 30px;
    font-size: 4.2rem;
    font-family: 'Gaegu', cursive;
    display: inline-block;
    width:500px;
    height: 500px;
}
.prallax{
    filter:brightness(.6);
    position: absolute;
    width: 100%;
    height: 120%;
    left:0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minInfo{
    left:0;
    position: absolute;
    margin-top:800px;
    height: 270px;
    background-color:white;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding:60px;

}