@import url('https://fonts.googleapis.com/css?family=Gaegu:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300');
.header{
    z-index: 999;
    position: relative;
    
}
.header2{
    z-index: 999;
    position: fixed;
    background-color: #fff;
    width:100%;
    float:left;
    left:0;
    margin-left: 0px;
    transition-duration: .6s;
    transition-timing-function: ease-in;
}
.navStyle{
    float:right;
    font-size:14px;
    padding-top:30px;
    
}

.navItems{
    color:white;
    font-family: 'Poppins', sans-serif;
}
.navItems2{
    color:black;
    font-family: 'Poppins', sans-serif;
    transition-duration: .6s;
    transition-timing-function: ease-in;
    padding-bottom:15px;
}

.logo{
    color:white;
    position: absolute;
    margin-left: 10%;
    padding-top: 30px;
    font-size: 3rem;
    font-family: 'Gaegu', cursive;
}
.logo2{
    color:black;
    position: absolute;
    margin-left: 10%;
    padding-top: 10px;
    font-size: 3rem;
    font-family: 'Gaegu', cursive;
    transition-duration: .4s;
    transition-timing-function: ease-in;
}
.coverText{
    color:white;
    position: absolute;
    margin-left: 10%;
    margin-top:15%;
    padding-top: 30px;
    font-size: 4.2rem;
    font-family: 'Gaegu', cursive;
    display: inline-block;
    width:500px;
    height: 500px;
}
.coverText2{
    display:none;
}
.parallax{
    filter:brightness(.6);
    position: absolute;
    width: 100%;
    height: 120%;
    left:0;
    padding:0;
    top:0;
    margin-left:0;
    margin-top:0;
    border:0;
}

.minInfo{
    left:0;
    position: absolute;
    margin-top:820px;
    margin-right: 0;
    padding-bottom:20px;
    height: 340px;
    background-color:white;
    color:black;
    font-family: 'Poppins', sans-serif;
    
}
.miniCol{
    margin-left:80px;
    padding:15px;
}
.minih3{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding:20px;
}
.miniP{
    text-justify: newspaper;
    color:#777;
}
.featured{
    height:605px;
    width: 100%;
    background-color:#32A954;
    position: absolute;
    margin-top:1100px;
    left:0;
    background-image: url('./images/bg_2.jpg');
    background-blend-mode:soft-light;
}

.featuredImage{
    height: 500px;
    width:730px;
    border: 10px solid white;
    margin-top:40px;
    margin-left:500px;

}
.featuredText{
    position: absolute;
    margin-top:-420px;
    margin-left:35px;
    width: 340px;
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;

}
.featuredButton{
    margin-left:50px;
    margin-top:-60px;
    background-color: #79ccab!important;
    border:2px solid #79ccab;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding-left:30px!important;
    padding-right:30px!important;
    padding-top:15px!important;
    padding-bottom:15px!important;
    font-size:14px!important;
    font-family: 'Poppins', sans-serif;
}
.featuredButton:hover{
    border:2px solid white!important;
    background-blend-mode: color!important;
}

.topH2{
    padding: 40px;
    font-size: 2rem;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}
.topCardsDiv{
    position: absolute;
    margin-top:1700px;
    width: 90%;
    left:40px;
}
.cardTitle{
    text-align: left;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-top:20px;

}
.topCol{
    width:500px!important;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.lastDonatH2{
    padding: 40px;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}
.lastDonatDiv{
    position: absolute;
    margin-top:2200px;
    text-align: center!important;
    padding-top:1.5rem !important;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    width:80%;

}
.lastDonateCard{
    height: 200px!important;
    margin: 20px;
    align-items: center;
}
.lastDonatImg{
    box-sizing: border-box;
    width:100px!important;
    height: 100px;
    margin-bottom: 20px;
    margin-left:40px;
}
.lastDonateButton1{
    display:inline-block;
    width:130px;
    height: 40px;
    left:100px;
    color:black;
    background-color: #F2F2F2;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    padding-top:7px;
}

.success{
    height:520px;
    width: 100%;
    background-color:#32A954;
    position: absolute;
    margin-top:2700px;
    left:0;
    background-image: url('./images/bg_2.jpg');
    background-blend-mode:soft-light;
}

.successImage{
    height: 400px;
    width:630px;
    border: 10px solid white;
    margin-top:40px;
    margin-left:50px;

}
.successText{
    position: absolute;
    margin-top:-400px;
    margin-left:800px;
    width: 340px;
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;

}
.successButton{
    margin-left:800px;
    background-color: #79ccab!important;
    border:2px solid #79ccab;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding-left:30px!important;
    padding-right:30px!important;
    padding-top:15px!important;
    padding-bottom:15px!important;
    font-size:14px!important;
    font-family: 'Poppins', sans-serif;
}
.successButton:hover{
    border:2px solid white!important;
    background-blend-mode: color!important;
}

.lastNewsH2{
    padding: 40px;
}
.lastNewsDiv{
    position: absolute;
    margin-top:3300px;
}
