.gallery{
    position: absolute;
    margin-top:900px;
    margin-right: 10px;
}

.galleryItem:hover{
    filter: blur(2px);
    content: icon;
}
.footerDiv{
    position: relative;
    height: 400px;
}
.footer{
    left:0;

    bottom:0;
}